<% content_for :dom_loaded do %>
  <%= load_uploadify %>

  $("#song_song").uploadify({
    'uploader'       : '/flash/uploadify.swf',
    'buttonImg'      : '/images/upload.png',
    'cancelImg'      : '/images/cancel.png',
    'script'         : S3_BUCKET,
    'fileDataName'   : 'file',
    'scriptData'     : TRACK_UPLOADIFY,
    'fileDesc'       : 'Music',
    'fileExt'        : '*.mp3;', //list of uploadable filetypes
    'onComplete'     : uploadify_complete,
    'onError'        : uploadify_error,
    'scriptAccess'   : 'always',
    'queueID'        : 'uploadifyQueue',
    'auto'           : true,
    'folder'         : '',
    'sizeLimit'      : 31457280,
    'multi'          : true
  });

  function uploadify_error(event, queueID, fileObj, errorObj){
    if(errorObj.info == 201){
      $.post(CALLBACK_URL, {'_method': 'put', 'file[size]': fileObj.size, 'file[name]': fileObj.name}, function(data){
        //  do stuff with data
        $('#song_song').uploadifyCancel(queueID);
        }, 'json');
    }
    return true;
  }

  function uploadify_complete(event, queueID, fileObj, response){
    $.post(CALLBACK_URL, {'_method': 'put', 'file[size]': fileObj.size, 'file[name]': fileObj.name}, function(data){
      // do stuff with data
      }, 'json');
  }
<% end %>

<%= form_for(@song, :html => { :multipart => true }) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :song %><br />
    <%= f.file_field :song %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
