<h1>Listing songs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Song file name</th>
    <th>Song content type</th>
    <th>Song file size</th>
    <th>Song updated at</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.song_file_name %></td>
    <td><%= song.song_content_type %></td>
    <td><%= song.song_file_size %></td>
    <td><%= song.song_updated_at %></td>
    <td><%= song.category_id %></td>
    <td><%= link_to 'Show', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>
